@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,400italic,500italic|Noto+Serif:400,400italic|Libre+Baskerville:400italic|Merriweather:400,400italic,700italic,300italic|Playfair+Display+SC:400,400italic,700italic|Old+Standard+TT:400,400italic,700);
#menu{
	font-family: 'Alegreya Sans SC', sans-serif;
	
	font-size: 1.16em;
	font-weight: 800;
}
/*font-family: 'Alegreya Sans SC', sans-serif;
	font-family: 'Noto Serif', serif;
	font-family: 'Libre Baskerville', serif;
	font-family: 'Merriweather', serif;
	font-family: 'Playfair Display SC', serif;
	font-family: 'Old Standard TT', serif;
*/

#logo{
	font-family: 'Merriweather', serif;
	font-family: 'Old Standard TT', serif;
	font-size: 2em;
	
}

#name{

	font-family: 'Noto Serif', serif;
	font-family: 'Playfair Display SC', serif;
	
}

.section_title{
	font-family: 'Playfair Display SC', serif;
}
.short_p{

	font-family: 'Old Standard TT', serif;
}

.website_title{
	
	font-family: 'Playfair Display SC', serif;
	
}

.list h3{
	font-family: 'Playfair Display SC', serif;
	font-family: 'Old Standard TT', serif;
}

.list ul li{
	
	font-family: 'Noto Serif', serif;
	
}

#contact p{
	font-family: 'Old Standard TT', serif;
}

.website_info h3{
	font-family: 'Alegreya Sans SC', sans-serif;
}

.website_info p, ul{
	font-family: 'Old Standard TT', serif;

}