body{
	width: 100%;
}

*{
	margin: 0;
	padding: 0;
}
#top_wrap{
	background-color: lightblue;
	background-image: url("images/flowers.jpg");
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#top_wrap hr{
	width: 300px;
	height: 2px;
	margin: 0 auto;

}

#top_wrap_blur{
	background-color: rgba(228, 216, 216, 0.19);
}
#introduction{
	
	min-height: 20vh;
	padding: 100px;
	text-align: center;
	color: white;
}

#logo{
	margin: auto;
}

#logo h1{
	font-size: 3.8em;
}

#name{
	font-size: small;
	margin-top: 30px;
}

.section_title{
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}



.skills{
	width: 70%;
	min-height: 100%;
	background-color: ghostwhite;
}

.list{
	float: left;
	margin-left: 90px;
	padding: 10px;
}

.list ul li{
	margin-left: 20px;
	line-height: 2em;
	text-decoration: underline;
}



.line{
	width: 600px;
	margin-left: 67px;
	margin-bottom: 30px;

}

.marble-background{
	background-image: url("images/marble.jpg");
	background-attachment: fixed;
}